@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

:root {
  --site-color: #3a7afe;
  --main-color: #ebeef6;
  --active-color: #d4def7;
  --bg-color: #ecedf0;
  --second-color: #f1f1f1;
  --third-color: #9fa7bd;
  --fourth-color: #fff;
  --fifth-color: #000;
  --sixth-color: #222;
  --main-bg-color: #192039;
  --second-bg-color: #1e2746;
  --third-bg-color: #3a7afe;
  --fourth-bg-color: #131b38;
  --primary-color: #0088cc;
  --success-color: #47a447;
  --info-color: #5bc0de;
  --warning-color: #ed9c28;
  --danger-color: #d2322d;
  --primary-color-second: #cfe2ff;
  --success-color-second: #d1e7dd;
  --info-color-second: #cff4fc;
  --warning-color-second: #fff3cd;
  --danger-color-second: #f8d7da;
}

.topbar {
  position: fixed;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 2fr 10fr 0.4fr 1fr;
  align-items: center;
  z-index: 1;
}

.logo h2 {
  color: #299b63;
}

.search {
  position: relative;
  width: 60%;
  justify-self: center;
}

.search input {
  width: 100%;
  height: 40px;
  padding: 0 40px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #f5f5f5;
}

.search i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.user {
  position: relative;
  width: 50px;
  height: 50px;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}





/* Inicio Sidebar*/
.sidebar {
  position: fixed;
  top: 60px;
  width: 260px;
  height: calc(100% - 60px);
  background: #299b63;
  overflow-x: hidden;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  width: 100%;
  list-style: none;
}

.sidebar ul li:hover {
  background: rgba(0, 0, 0, 0.2);
}

.sidebar ul li:hover a {
  color: #fff;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar ul li a i{
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-btn {
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn span {
  margin-left: 15px;
}

.dropdown-container {
  display: none;
  background-color: #299b63;
  padding-left: 8px;
}

.dropdown-container a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.sidebar .dropdown-container.active{
  display: block !important;
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/*Fim da Sidebar*/




/* inicio do MAIN*/

.main {
  position: absolute;
  top: 60px;
  width: calc(99.5% - 260px);
  left: 260px;
  min-height: calc(100vh - 60px);
  background: #f5f5f5;
}

.cards {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cards .card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.cards .card:hover {
  background: #299b63;
}

.cards .card:hover .number {
  color: #fff;
}

.cards .card:hover .card-name {
  color: #fff;
}

.cards .card:hover .icon-box i {
  color: #fff;
}

.number {
  font-size: 35px;
  font-weight: 500;
  color: #299b63;
}

.card-name {
  color: #888;
  font-weight: 600;
}

.icon-box i {
  font-size: 45px;
  color: #299b63;
}

/*Inicio dos Gráficos*/

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.chart {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.chart h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

/*Responsivo*/

@media (max-width: 1115px) {
  .sidebar {
    width: 60px;
  }

  .main {
    left: 60px;
    width: calc(100%-60px);
  }
}

@media (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .charts {
    grid-template-columns: 1fr;
  }

  #doughnut-chart {
    padding: 50px;
  }

  #doughnut {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .topbar {
    grid-template-columns: 1fr 5fr 0.4fr 1fr;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .logo h2 {
    font-size: 20px;
  }

  .search {
    width: 80%;
  }

  .search input {
    padding: 0 20px;
  }

  .fa-bell {
    margin-right: 5px;
  }

  .user {
    width: 40px;
    height: 40px;
  }

  #doughnut-chart {
    padding: 10px;
  }

  #doughnut {
    padding: 0;
  }
}

/*Inicio Listar*/

.content-table {
  border-collapse: collapse;
  margin: 25px 0 0 25px;
  font-size: 1em;
  min-width: 98%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #299b63;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #fff;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #299b63;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #299b63;
}

.btn {
  background-color: #299b63;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  height: 35px;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn {
  background-color: #ddd;
}

.b-1 {
  border-radius: 10px 0 0 10px;
}

.b-2 {
  border-radius: 0 10px 10px 0;
}

/*Final Listar*/

/*Inicio Páginação*/
.pagination {
  margin-top: 10px;
  margin-left: 35%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active-pag {
  background-color: #d6d6d6;
  color: #000;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/*Final Páginação*/

/* Inicio visualizar */
.view-adm {
  position: relative;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 90%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 10fr 0.4fr 1fr;
  align-items: center;
  z-index: 1;
  margin: 1%;
}

.content-adm .view-det-adm {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.view-det-adm .view-adm-title {
  width: 100px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

.view-det-adm .view-adm-info {
  width: 100%;
  color: #000;
  font-size: 15px;
  padding: 3px 10px;
}

/* Fim visualizar */


/*Inicio Botões*/
.top-list {
  border-collapse: collapse;
  margin: 25px;
  font-size: 0.5em;
  text-align: left;
  min-width: 90%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  float: left;
}

.top-list h1 {
  margin: 13px 0 -2.5% 20px;
}

.button {
  float: right;
  background-color: #299b63;
  border: none;
  color: white;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-list a {
  text-decoration: none;
}

.button i {
  margin: 5px;
}

/*Fim Botões*/

/*Inicio Response*/

.top-list-response {
  border-collapse: collapse;
  font-size: 0.7em;
  min-width: 100%;
  padding: 15px;
  margin-left: 6px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table-response {
  border-collapse: collapse;
  margin: 5px 0 0 8px;
  font-size: 0.7em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table-response thead tr {
  background-color: #299b63;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table-response th,
.content-table-response td {
  padding: 12px 15px;
}

.content-table-response tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table-response tbody tr:nth-of-type(even) {
  background-color: #fff;
}

.content-table-response tbody tr:last-of-type {
  border-bottom: 2px solid #299b63;
}

.content-table-response tbody tr.active-row {
  font-weight: bold;
  color: #299b63;
}

.charts-response {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.chart-table {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.chart-table h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

.charts-response-top {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 10px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.chart-top {
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.chart-top-first {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-top: -10px;
}

.chart-top-second {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: -10px;
}

.chart-top-tree {
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 15px;
  width: 100%;
}

.chart-top-tree .card-top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.card-top h1 {
  font-size: 35px;
  font-weight: 500;
  color: #299b63;
  margin-bottom: 15px;
}

.card-top .feedback {
  font-size: 25px;
  font-weight: 500;
  color: #666;
}

.chart-top .view-adm-response {
  background: #fff;
  width: 90%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 10fr 0.4fr 1fr;
  align-items: center;
  z-index: 1;
  margin: 1%;
}

.content-adm-response .view-det-adm-response {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.view-det-adm-response .view-adm-title {
  width: 100px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

.view-det-adm-response .view-adm-info {
  width: 100%;
  color: #000;
  font-size: 15px;
  padding: 3px 10px;
}

/*Progresso Circular Total*/
.circular-progress-total {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #299b63;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress-total:before {
  content: "";
  position: absolute;
  height: 64%;
  width: 64%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.9);
}

.value-container-total {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #231c3d;
}

/*Final Circular Total*/

/*Progresso Circular First*/
.circular-progress-first {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #299b63;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress-first:before {
  content: "";
  position: absolute;
  height: 64%;
  width: 64%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.9);
}

.value-container-first {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #231c3d;
}

/*Final Circular First*/

/*Progresso Circular Second*/
.circular-progress-second {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #299b63;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress-second:before {
  content: "";
  position: absolute;
  height: 64%;
  width: 64%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.9);
}

.value-container-second {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #231c3d;
}

/*Final Circular Second*/

/*Progresso Circular Third*/
.circular-progress-third {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #299b63;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress-third:before {
  content: "";
  position: absolute;
  height: 64%;
  width: 64%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.9);
}

.value-container-third {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #231c3d;
}

/*Final Circular Third*/

/*Inicio dos Gráficos*/

.photos-response {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.photos {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.photos img {
  width: 100%;
  height: 350px;
}

/*Final dos Gráficos*/

/* Inicio formulario */

.content-adm {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.form-adm {
  width: 100%;
  position: relative;
  margin: 10px auto 0 auto;
}

.row-input {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px 30px;
  margin-bottom: 20px;
}

.title-input {
  color: var(--fourth-bg-color);
  font-size: 14px;
}

input.input-adm,
textarea.input-adm,
select.input-adm {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid var(--active-color);
  margin-top: 5px;
}

textarea.input-adm {
  resize: none;
}

input.input-adm:focus,
textarea.input-adm:focus,
select.input-adm:focus {
  outline: none;
  border-color: var(--site-color);
}

.button-form {
  background-color: #299b63;
  border: none;
  color: white;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.button-form:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
/* Fim formulario */
